*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: inherit;
    font-family: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    background: hsl(206, 13%, 11%);
    padding: 2rem;
    font-size: 1.6rem;
    color: hsl(0, 0%, 100%);
}

ul,
li {
   list-style: none;
}

a {
    text-decoration: none;
}

.carousel {
    position: relative;
    width: 46rem;
    height: 30rem;
    margin: 0 auto;
}

.carousel-track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    position: relative;
    height: 100%;
    transition: transform .4s ease;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-image {
    display: block;
    width: 100%;
    height: 100%;
    user-select: none;
    -ms-user-select:none;
    -webkit-user-select: none;
}

.carousel-button {
    position: absolute;
    top: 50%;
    margin-top: -2.15rem;
    padding: 0;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: .6rem;
    background: hsl(212, 15%, 22%);
    color: hsl(0, 0%, 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button:hover {
background: hsl(212, 8%, 41%);
}

.carousel-button.left {
    left: -5rem;
}

.carousel-button.right {
    right: -5rem;
}

.carousel-nav {
    padding: 1rem 0;

    display: flex;
    justify-content: center;
}

.carousel-indicator {
    width: 1rem;
    height: 1rem;
    background: hsl(212, 15%, 22%);
    outline: none;
    border: 0;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;
}

.carousel-indicator:hover {
    background: hsl(212, 8%, 41%);
}

.carousel-indicator.current-slide {
    background: hsl(214, 94%, 49%);
}

.is-hidden {
    display: none;
}